<h3 style="background-color: rgb(29, 82, 100); color: white; padding: 10px 0 10px 25px;">Manage Employee  
    <a class="btn btn-success" href="/employee" style="float: right; margin-left: 10px; margin-right: 25px;">
    <i class="fa fa-plus-circle"></i> Add New Employee</a>
    <a class="btn btn-danger" href="/employee" style="float: right;">
    <i class="fa fa-minus-circle"></i> Delete</a>
    
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td><input type="checkbox" /></td>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.address}}</td>
            <td>{{this.phone}}</td>
            <td>
                <a href="/employee/{{this._id}}" style="color: orange"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');" style="margin-left: 20px; color: red;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>